.booking-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
  max-height: $booking-banner-height;
  flex: 1;
  width: 100%;
  .act-btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-decoration: unset;
    .action-text {
      font-family: $secondary-font;
      color: $white-e1;
      font-weight: 700;
      font-size: $fs-18;
      line-height: 200%;
    }
    &:hover {
      text-decoration: underline;
      text-decoration-color: $red-92d;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
  .vertical-separator {
    height: 3rem;
    width: 2px;
    background-color: $white-e1;
  }
}
