.service-page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .page-heading {
    display: none;
  }
  .main-wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    flex: 1;
    .book-drive-service {
      display: flex;
      align-items: center;
      .action {
        text-decoration: none;

        img.responsive-img {
          width: 100%;
          height: auto;
          max-width: 500px; // adjust as needed
          border-radius: 10px;
          object-fit: cover;
          transition: opacity 0.2s ease;
        }

        .action-text {
          margin-top: 1rem;
          color: black;
          font-size: $fs-24;
          font-weight: 600;
          line-height: 140%;
          text-align: center;
        }
        img {
          border-radius: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        img {
          opacity: 0.8;
          transition: opacity 0.2s;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .page-heading {
      width: 100%;
      display: block;
      padding: 1rem;
      font-size: $fs-20;
      font-weight: 700;
    }
    .main-wrapper {
      gap: 2rem;
      .book-drive-service {
        padding-inline: 1rem;
      }
    }
  }
}
